span{
    color: green;
    font-size: x-large;
}
li{
    float: right;
    list-style-type: none;
    padding-left: 5px;
    margin-right: 100px;
    
}
.nav-bar{
    background-color:cadetblue;
    padding:10px;
}
.social{
    justify-content: space-between;
}
.name img{
    float: right;
    margin-top: -120px;
     opacity: 2.5;
    

}
.name  {
    padding-top: 100px; 
    background-color: grey;
    padding: 100px;
     
}

.wrap{
    background-color: green;
    margin-top: -20px;
    padding:150px;
    
}
.about{
    float: left;
    background-color: cadetblue;
    margin-left:  -100px;
  
}
